@import "../../scss/base.scss";

.attendance-write {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 3rem 0 0;
  .date-group {
    display: flex;
    gap: 1rem;
  }
}
.btn-group {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 0 0;
}
