// 색상정의
$primary: #914ffd;
$secondary: #ffc57f;
$black: #060606;
$white: #fff;
$gray: #8d8d8d;
$lightgray: #f5f5f5;
$formline: #dee2e6;
$danger: #fc4438;
$success: #54ba4a;

// 이미지경로
$url: "/src/assets/";

// 반응형 기준사이즈
$mobileWidth: 768px;
$tabletWidth: 1600px;

// 웹전용 가운데정렬 가로크기
$webCenterWidth: 160rem;

$f-ko: "Roboto", sans-serif;
$f-en: "Oswald", sans-serif;
$f-ico: "Material Symbols Outlined";
$f-ico2: "bootstrap-icons";
