@import "../scss/base.scss";

.notice{
    &__wrapper{
        &__contents{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .file{
            display: none;
            }

            .align.center{
                gap: 2rem;
            }
        }

    }
}
