@import "../scss/base.scss";

.business-card {
  text-align: center;
  display: grid;
  justify-content: center;
  .block {
    @include background("bg_profile.png", center, null, cover);
  }
  .btn {
    margin-top: 1.5rem;
  }
}
