@import "../scss/base.scss";

.time-block {
  overflow: hidden;
  border-radius: 3rem;
  display: grid;
  align-items: center;
  position: relative;
  .heading {
    font-size: 1.4rem;
    color: $gray;
  }
  &__time {
    font-size: 2.4rem;
    color: $black;
    font-weight: 900;
  }
  &__icon {
    @include position(a, right, -1rem, top, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.6rem;
    height: 6.6rem;
    border-radius: 100%;
    background: linear-gradient(135deg, rgba($primary, 0.15), rgba($primary, 0));
    &::before {
      content: "\F293";
      font-family: $f-ico2;
      color: $primary;
      font-size: 2.5rem;
    }
  }
}
